{% extends 'base.html' %}
{% block content %}
<h2>Program Editor</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Program</button>
</form>

<h3>Existing Programs</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Contents</th>
        <th>Photo Timer (seconds)</th>
        <th>Created At</th>
    </tr>
    {% for program in programs %}
    <tr>
        <td>{{ program.name }}</td>
        <td>{{ program.company }}</td>
        <td>
            {% for content in program.contents.all %}
                {{ content.name }}<br>
            {% endfor %}
        </td>
        <td>{{ program.photo_timer }}</td>
        <td>{{ program.created_at }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
